#Created by Vishavjit 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>List of hospitals</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " >

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                
              <img src="/static/flag.jpg" height="30px" width="70px" style="margin-left: 55px; margin-top: 25px;">
            </li>
            <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Government<br> of Canada</h6> 
            </li>
              <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">Gouvernement<br> du Canada</h6>    
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <hr>
      <h1>Our Testing Partners</h1>
      <p style="font-family: Arial, Helvetica, sans-serif;font-size: 22px;">
          <ul>
              <li>Mississauga Hospital - Clinical Administrative Building</li>
              <li></li>
          </ul>
      </p>
      
</body>
</html>
