<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Coronavirus</title>
   
   
  </head>
  <body >
    
    <nav class="navbar navbar-expand-lg navbar-light " >

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          
        <img src="/static/flag.jpg" height="30px" width="70px" style="margin-left: 55px; margin-top: 25px;">
      </li>
      <li class="nav-item active">
        <h6 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Government<br> of Canada</h6> 
      </li>
        <li class="nav-item active">
        <h6 style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">Gouvernement<br> du Canada</h6>    
    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr>
<u>
<a href="https://www.canada.ca/en.html" style="margin-left: 55px; color: rgb(9, 9, 148);">Canada.ca</a>
</u>

<h1 style="margin-left: 55px; margin-top: 1em;">Coronavirus disease (COVID-19)</h1>
<hr>

<div style="border: 4px outset rgb(82, 1, 233); border-radius: 5px; padding-top: 20px; padding-bottom: 30px; padding-left: 15px; padding-right: 15px; margin-left: 5px; margin-right: 5px; ">
   <h1> COVID-19 in Canada</h1><br>

   <span style="padding: 15px; border: 1px outset black; border-radius: 5px; background-color: honeydew; font-size: 21px;">
    <b> Tests performed
       30,041,115</b>
   </span>

   <span style="padding: 15px; border: 1px outset black; border-radius: 5px; margin-left: 15px; background-color:honeydew; font-size: 21px;">
    <b>Total cases
    1,131,773</b>
   </span>

   <span style="padding: 15px; border: 1px outset black;border-radius: 5px; margin-left: 15px;background-color:honeydew; font-size: 21px;">
   <b> Active cases
       88,327</b>
   </span>

   <span style="padding: 15px; border: 1px outset black;margin-left: 15px;border-radius: 5px; background-color:honeydew; font-size: 21px;">
    <b>Recovered
     1,019,779</b>
   </span>

   <span style="padding: 15px;border-radius: 5px;  border: 1px outset black;margin-left: 15px;background-color:honeydew; font-size: 21px;">
    <b>Deaths
     23,667</b>
   </span>
   
</div>

 <br><br>
<span style="padding: 15px;border-radius: 5px; border: 2px outset black; font-size: 20px; margin-left: 3.5em; background-color: rgb(253, 238, 223);">
    <a href = "/displayForm" title="To get tested, Book an appointment" style="color: black;">Get Tested(Book an appointment) </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>


<span style="padding: 15px; border-radius: 5px;border: 2px outset black; font-size: 20px; margin-left: 18px;background-color: rgb(253, 238, 223); ">
    <a href = "/showAppointment" title="Check your name and turn number here" style="color: black;"> Total Appointments</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>


 
<span style="padding: 15px;border-radius: 5px; border: 2px outset black; font-size: 20px; margin-left: 18px;background-color: rgb(253, 238, 223); ">
    <a href = "/prevention" style="color: black; "> Prevention and risks </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> <br><br><br>

 
<span style="padding: 15px;border-radius: 5px; border: 2px outset black; font-size: 20px; margin-left: 3.5em; background-color: rgb(253, 238, 223);">
    <a href = "/symptoms" style="color: black;">COVID-19 Symptoms</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>


<span style="padding: 15px;border-radius: 5px; border: 2px outset black; font-size: 20px; margin-left: 18px;background-color: rgb(253, 238, 223); ">
  <a href = "https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html" style="color: black;">Latest Updates</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
  </body>
</html>