<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Student Registration</title>
    <style>
      span {
        border: 2px outset black;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " >

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                
              <img src="/static/flag.jpg" height="30px" width="70px" style="margin-left: 55px; margin-top: 25px;">
            </li>
            <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Government<br> of Canada</h6> 
            </li>
              <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">Gouvernement<br> du Canada</h6>    
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <hr>
     
        
      
      <h2 style="text-align: center;">Enter your information below to book an appointmnet</h2>
    <form action="/BookAppointment/" method="post">
            {% csrf_token %}

     <label style="margin-left: 30em; margin-top: 2em;"><b> Enter Id:</b></label>
    <span style="margin-left: 7em;">   {{form.std_id}}</span> <br>

     <label style="margin-left: 30em;"><b> Enter your Name: </b></label>
     <span style="margin-left: 2.9em;">{{form.std_name}}</span><br>

     <label style="margin-left: 30em;"> <b>Enter your Age:</b></label>
    <span style="margin-left: 3.8em;">{{form.std_age}}</span><br>

     <label style="margin-left: 30em;"><b>Enter your City:</b></label>
    <span style="margin-left: 3.8em;">{{form.std_city}}</span><br>

     <label style="margin-left: 30em;"><b>Enter your Email:</b></label>
    <span style="margin-left: 3.1em;">{{form.std_email}}</span><br>

     <label style="margin-left: 30em;"><b>Enter your Contact:</b></label>
    <span style="margin-left: 2em;">{{form.std_contact}}</span></br>

     <label style="margin-left: 30em;"><b>Enter your DOB:</b></label>
    <span style="margin-left: 3.4em;">{{form.std_dob}}</span><br>


  <div>
     <button type="submit" style="margin-left: 40em; margin-top: 1em;" >Submit</button>

  </div>

    </form>
 
</body>
</html>