<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Student Registration</title>
    <style>
      span {
        border: 2px outset black;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " >

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                
              <img src="/static/flag.jpg" height="30px" width="70px" style="margin-left: 55px; margin-top: 25px;">
            </li>
            <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Government<br> of Canada</h6> 
            </li>
              <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">Gouvernement<br> du Canada</h6>    
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <hr>
      <h1 style="margin-left: 55px; margin-top: 1em;">COVID-19 Preventions</h1>
      <hr>

      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 22px;">
        <h2>How COVID-19 spreads</h2><br>
COVID-19 spreads from an infected person to others through respiratory droplets and aerosols (smaller droplets) created when an infected person:
<ul style="list-style-type: disc;">
<li>
sings</li>
<li>shouts</li>
<li>coughs</li>
<li>sneezes </li></ul>
COVID-19 can also spread by touching something that has the virus on it, then touching your mouth, nose or eyes with unwashed hands. You can transmit COVID-19 before you start showing symptoms or without ever developing symptoms.

Learn more about:

How COVID-19 spreads
COVID-19 symptoms<br>

<h2> Quarantine and isolation </h2>
When indicated, people should quarantine or isolate to help prevent the spread of COVID-19 to others.

If you've travelled outside of Canada recently, advice for your mandatory quarantine or isolation period may be different.

Learn more about:

How to quarantine at home when you may have been exposed to COVID-19 and have no symptoms
How to isolate at home when you have or may have COVID-19
Travel, testing, quarantine and borders
Travel: Mandatory quarantine or isolation
<h2>Prevention for individuals</h2>
Vaccination
COVID-19 vaccination
Flu vaccination
Personal preventive practices
As efforts continue across Canada to increase overall vaccine coverage, public health measures remain the foundation of the pandemic response.

Community transmission of COVID-19 continues in many areas across Canada, and new variants of concern have been identified and are circulating. This is why it's even more important to strictly use multiple personal preventive practices at once, regardless of your vaccination status. This is called a layered approach and it helps protect yourself and others. Think ahead about the actions you can take to:

stay healthy
prevent the spread of COVID-19
      </p>
      
</body>
</html>