#Created by Jagtar Singh

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Student Registration</title>
    <style>
      span {
        border: 2px outset black;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " >

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                
              <img src="/static/flag.jpg" height="30px" width="70px" style="margin-left: 55px; margin-top: 25px;">
            </li>
            <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px;margin-bottom: 20px;">Government<br> of Canada</h6> 
            </li>
              <li class="nav-item active">
              <h6 style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">Gouvernement<br> du Canada</h6>    
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <hr>
      <h1 style="margin-left: 55px; margin-top: 1em;">COVID-19 Symptoms</h1>
      <hr>

      <p style="font-family: Arial, Helvetica, sans-serif; font-size: 22px;">
        Symptoms of COVID-19 can vary from person to person. They may also vary in different age groups.

        Some of the more commonly reported symptoms include:
        <ul style="list-style-type:disc;">
        <li>new or worsening cough</li>
            <li>shortness of breath or difficulty breathing</li>
                <li> temperature equal to or over 38°C</li>
                    <li> feeling feverish</li>
                        <li>chills</li>
                            <li>fatigue or weakness</li>
                                <li>muscle or body aches</li>
        <li>new loss of smell or taste</li>
      <li>headache</li>
      <li>gastrointestinal symptoms (abdominal pain, diarrhea, vomiting)</li>
        <li>feeling very unwell</li>
            <li> Children tend to have abdominal symptoms and skin changes or rashes.</li> </ul></p>
        
       <p style="font-family: Arial, Helvetica, sans-serif;font-size: 22px;"> Symptoms may take up to 14 days to appear after exposure to COVID-19.
        You can infect others even if you aren’t showing symptoms
        The virus can be spread to others from someone who’s infected but not showing symptoms. This includes people who:
        haven’t yet developed symptoms (pre-symptomatic)
        never develop symptoms (asymptomatic)
      </p>
      
</body>
</html>
